.ProjectTile {
  max-width: 20rem;
  max-height: 15.625rem;
  /* background-color: #61dafb; */
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  /* margin-bottom: 0.3rem; */
  /* cursor: pointer; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  transition: all;
  transition-duration: 0.25s;
  /* z-index: 10; */
}

.ProjectTile img,
.ProjectTile video {
  width: 100%;
  height: 100%;
  /* border-radius: 10px;
  border: 1px solid var(--col-2); */
  box-sizing: border-box;
}

.ProjectLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0rem;
  background-color: var(--col-2-1);
  color: var(--col-5);
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: all;
  transition-duration: 0.25s;
  opacity: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ProjectLabel.Show {
  height: 5rem;
  opacity: 1;
}
.ProjectDescription {
  font-size: 1.35rem;
  margin-top: 0rem;
  line-height: 1rem;
}
