.LastPlayedGamesPage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: -1rem; /* FIX ME: smells like a hack... */
}

.GamesListContainer {
  max-width: 80rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin-top: -0.5rem;
  column-gap: 3rem;
}
