.NavBar {
  width: 100%;
  position: relative;
}

.separator {
  color: #666;
}

@media only screen and (max-width: 1150px) {
  .NavBar {
    position: fixed;
    top: 3.5rem;
    left: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: #222;
    transition-property: all;
    transition-duration: 0.25s;
    opacity: 1;
  }

  .Hide {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
