.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background-color: #222;
  color: var(--col-5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.header-slot {
  position: relative;
  display: flex;
  align-items: center;
  width: 33.3%;
  height: calc(100% - 1rem);
  padding: 0.5rem;
}
.header-slot.start {
  justify-content: flex-start;
  padding-left: 1rem;
}
.header-slot.middle {
  justify-content: center;
}
.header-slot.end {
  justify-content: flex-end;
  padding-right: 1rem;
}

.header-link {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.header-link:last-child {
  margin-right: 0;
}

.header-link img {
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
}

.TitleText {
  display: none;
  margin-right: 0.5rem;
}

.HamburgerMenu {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  padding: 0.1rem;
}
.HamburgerMenu img {
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
}

.PageTitleMobile {
  display: none;
}

@media only screen and (min-width: 1151px) {
  .TitleTextVisible {
    display: block;
  }
}

@media only screen and (max-width: 1150px) {
  .HamburgerMenu {
    display: block;
  }

  .PageTitleMobile {
    display: block;
    line-height: 1.5rem;
  }

  .header-slot {
    width: 25%;
  }
  .header-slot.middle {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .header-slot {
    width: 33.3%;
  }
  .header-slot.middle {
    width: 33.3%;
  }
}
