.Footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  background-color: var(--col-1);
  color: var(--col-5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  box-shadow: none;
}

@media only screen and (min-width: 1295px) {
  .Footer {
    position: fixed;
    box-shadow: 0 -4px 6px 0px rgba(0, 0, 0, 0.5);
  }
}
