.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  background-color: var(--col-1);
  color: var(--col-5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
